@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

*{
    margin: 0;
    box-sizing: border-box;
} 

:root{
    --text-black: #1b1b1b;
    --text-white: #ffffff;
    --text-ligth: #b1afaf;
    --text-ligther: #cfcfcf;
    --text-red: #ff0000;
    --font-family-raleway : 'Raleway', sans-serif;
    --font-family-roboto : ;
}

::before,::after{
    box-sizing: border-box;
}

.containers{
    width: min(1200px, 95%);
    margin: 0 auto;
}

.rows{
    display: flex;
    flex-wrap: wrap;
}

.v-center{
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.cursor__text{
    cursor: default;
}
/* header */
.header{
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 15px;
}
.header .item--left{
    flex: 0 0 auto; 
}
.header .logo a{
    display: flex;
    align-items: center;
}
.header .logo a img{
    max-width: 7rem;
}
.header .item--center{
    flex: 0 0 70%; 
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.header .item--right{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: .29em .7em .25em 0em;
    border: 1px solid #eeeeee;
}
.header .item--right a{
    text-decoration: none;
    font-size: 22px;
    color: #555555;
    display: inline-block;
    margin-left: 20px;
    transition: color 0.3s ease;
    position: relative;
}
.header .item--right a img{
    width: 2.2rem;
    vertical-align: middle;
    border-radius: 50%;
}
.header .item--right .profile__main .profile > i{
    font-size: 14px ;
}
.header .menu > ul > li{
    line-height: 46px; 
}
.header .menu > ul > li:hover,
.header .menu > ul > li:focus{
    background-color: #eeeeee;
}
.header .menu > ul > li > a{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-black);
    text-transform: capitalize;
    transition: color 0.3s ease;
    position: relative;
    padding: 1.2em 2em;
    border: 1px solid #eeeeee;
     
}
.header .menu > ul > li .sub-manu{
    position: absolute;
    z-index: 500;
    background-color:var(--text-white);
    padding: 0px 0px;
    border: 1px solid #eeeeee;
    transition: all 0.5s ease;
    margin-top: 0px;
    margin-left: -1px;
    opacity: 0;
    visibility: hidden;

}
.no__msg{
    padding: .3em .8em;
    font-size: .5rem;
    color: black;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.profile{
    position: relative;
}
.sub__menu{
    width: min(160px, 160px);
}
.header .menu > ul > li .sub-manu > ul > li > a,
.sub__main__2 .sub__main__inner ul li,
.sub__menu ul li{
    border-bottom: 1px solid #eeeeee;
}
.sub__menu ul li a{
    display: inline-block !important;
    padding: 10px 0 !important;
    font-size: .8rem !important;
    color: #555555 !important;
    text-decoration: none !important;
    transition: color 0.3s ease !important;
    text-transform: uppercase !important;
    padding: 13px 20px !important;
}
.sub__menu__one__col{            
    position: absolute;
    z-index: 500;
    background-color: var(--text-white);
    padding: 0px 0px;
    border: 1px solid #eeeeee;
    transition: all 0.5s ease;
    margin-top: 4px;
    transform: translateX(-48.9%);
    opacity: 0;
    visibility: hidden;
}
.profile__main:focus .sub__menu__one__col,
.profile__main:hover .sub__menu__one__col{
    visibility: visible;
    opacity: 1;
}
.sub__main__2 .sub__manu_2__a_main{
    position: relative;
}
.sub__main__2 .sub__main__inner{
    position: absolute;
    z-index: 500;
    background-color: var(--text-white);
    padding: 0px 0px;
    border: 1px solid #eeeeee;
    transition: all 0.5s ease;
    margin-top: -0.6px;
    transform: translateX(99.5%);
    opacity: 0;
    visibility: hidden;
}
.sub__main__2 .sub__main__inner ul li a{
    display: inline-block;
    padding: 10px 0;
    font-size: .8rem;
    color: #555555;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
    padding: 1.3em 2em;
}
/* manu ka item 992px pa nazar nh ayain bahla hover karo li pa */
@media (min-width : 992px){
    .header .menu > ul > li.menu-item-has-children:focus .sub-manu,
    .header .menu > ul > li.menu-item-has-children:hover .sub-manu{
        visibility: visible;
        opacity: 1;
    }
    .sub__main__2:focus .sub__main__inner,
    .sub__main__2:hover .sub__main__inner{
        visibility: visible;
        opacity: 1;
    }
}
.header .menu > ul{
        display: flex;
}
.header .menu > ul > li .sub-manu > ul > li{
    line-height: 1;
    display: flex;
}
.header .menu > ul > li .sub-manu > ul > li > a{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    text-transform: capitalize;
    transition: color 0.3s ease;
    position: relative;
    padding: 1.4em 2em;
}
.sub__menu ul li:hover,
.sub__menu ul li:focus,
.sub__main__2 .sub__main__inner ul li:focus,
.sub__main__2 .sub__main__inner ul li:hover,
.header .menu > ul > li .sub-manu > ul > li:focus,
.header .menu > ul > li .sub-manu > ul > li:hover{
    background-color: #c4bdbd;
}
.i_1,
.i_2,
.i_3{
    position: absolute;
    height: 46px;
    width: 18px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
}

.header .menu > ul > li .single-column-manu{
    width: min(220px, 220px);
}   
.header .menu > ul > li .sub-manu.mega-menu > .list-item > ul > li{
    line-height: 1;
    display: block;
}
.header .menu > ul > li .sub-manu.mega-menu > .list-item > ul > li > a{
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
}
.header .menu > ul > li .sub-manu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}   
.header .menu > ul > li .sub-manu.mega-menu-column-4{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}   
.header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item{
    flex: 0 0 25%;
    padding: 0 15px;
}
.header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item .tittle{
    color: #ea4636;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 500;
    line-height: 1;
}
.header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item.text-center .tittle{
    text-align: center;
}
.header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item img{
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    vertical-align: middle;
}
.header .menu > ul > li .sub-manu.mega-menu > .list-item > ul > li > a:focus,
.header .menu > ul > li .sub-manu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-manu > ul > li > a:focus,
.header .menu > ul > li .sub-manu > ul > li > a:hover,
.header .item--right a:focus,
.header .item--right a:hover,
.sub__main__inner ul li:hover a,
.sub__main__inner ul li:focus a,
.header .item--right li:hover > a,
.header .menu > ul > li:hover > a{
    color: #ea4636 !important;
}
/* mobile menu trigger */
/* or mobile menu head */
.profile,
.mobile-menu-head,
.mobile-menu-trigger{
    display: none;
}
/* Responsive */
@media (max-width: 1150px){
   .sub__main__2 .sub__main__inner{
    opacity: 1;
    visibility: visible;
    position: absolute;
    box-shadow: none;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100% !important;
    padding-top: 50px !important;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
    }
    .sub__main__2 .sub__main__inner.active{
        display: block;
    }
    .sub__main__2 .sub__main__inner ul li{
        padding: 6px 15px;
    }
    .sub__main__2 .sub__main__inner ul li a{
        padding: 10px 0;
        font-size: .8rem;
        color: #555555;
        text-decoration: none;
        transition: color 0.3s ease;
        text-transform: uppercase;
    }
    .sub__main__2 .sub__main__inner ul li,
    .header .menu > ul > li .sub-manu > ul > li{
        border-bottom: 1px solid #eeeeee;
    }
      
    .header .logo a{
        justify-content: center;
    }
    .header .logo a img{
        max-width: 5rem;
    }   
    header .profile{
        display: inline-block;
    }
    .header .item--right a {
        font-size: 18px;
        margin-left: 10px;
    }
    .header .item--right a img {
        width: 1.7rem;
        margin-left: 10px;
    }
    .sub__menu__one__col {
        transform: translateX(-66.9px);

    }
    header .profile__main .sub__menu__one__col ul li{
        text-align: center;
    }
    header .profile__main .sub__menu__one__col ul li a{
        margin: 0px;
    }
    .sub__menu {
        width: min(140px, 140px);
    }
    .sub__menu ul li a {
        
        padding: 10px 10px !important;
        font-size: .7rem !important;
       
    }
    .header .item--center{
        flex: 0 0 100%;
        order: 3;
    }
    .item--left--mobile{
        flex: 0 0 auto; 
    }
    .header .item--left
    {
        flex: 0 0 auto;
        text-align: center;
    }
    
    /* hamburger vertically center */
    .header .item--right{
        align-items: center;
        flex: 0 0 auto; 
    }
    .header .menu > ul{
        flex-direction: column;
    }
    .v-center{
        justify-content: space-between;
    }
    /* mobile menu trigger */
    .header .mobile-menu-trigger{
        display: flex;
        height: 30px;
        width: 30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    .header .mobile-menu-trigger span{
        display: block;
        height: 2px;
        background-color: #333333;
        width: 24px;
        position: relative;
    }
    .header .mobile-menu-trigger span::before,
    .header .mobile-menu-trigger span::after{
        width: 100%;
        height: 100%;
        background-color: #333333;
        content: '';
        position: absolute;
        left: 0;

    }
    .header .mobile-menu-trigger span::before{
        top: -6px;
    }
    .header .mobile-menu-trigger span::after{
        top: 6px;
    }
    .header .menu{
        position: fixed;
        width: 320px;
        background-color: #ffffff;
        /* ya box shadow lagao us na katii ha but achi laga gy agr lagao gay to */
        box-shadow: 0 0 15px #ccc;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translateX(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }
    .header .menu.active{
        transform: translateX(0%);
    }
    .header .menu > ul > li{
        line-height: 1;
        margin: 0;
        display: block;
    }
    .header .menu > ul > li > a{
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .header .menu > ul > li > a i{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }
    /* mobile menu head */
    .header .menu .mobile-menu-head{
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;

    }
    .header .menu .mobile-menu-head .go-back{
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none;
    }   
    .header .menu .mobile-menu-head.active .go-back{
        display: block;
    }
    .header .menu .mobile-menu-head .current-menu-tittle{
        font-size: 15px;
        font-weight: 500;
        color: #000000;
    }
    .header .menu .mobile-menu-head .mobile-menu-close{
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
    }
    .header .menu .manu-main{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .header .menu > ul > li .sub-manu.mega-menu,
    .header .menu > ul > li .sub-manu{
        opacity: 1;
        visibility: visible;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 0px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }
    .header .menu > ul > li .sub-manu.active{
        display: block;
    }
    @keyframes slideLeft {
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes slideRight {
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }
    .header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item{
        flex: 0 0 100%;
        padding: 0;
    }
    .header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item img{
        margin: 0;
    } 
    .header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item.text-center .tittle{
        margin-bottom: 20px;
    }   
    .header .menu > ul > li .sub-manu.mega-menu-column-4 > .list-item.text-center:last-child .tittle{
        margin-bottom: 0px;
    }
    .header .menu > ul > li .sub-manu.mega-menu > .list-item > ul{
        margin-bottom: 15px;
    }   
    .header .menu > ul > li .sub-manu > ul > li > a,
    .header .menu > ul > li .sub-manu.mega-menu > .list-item > ul > li > a{
        display: block;
    }   
    /* Manu Overlay */
    .menu-overlay{
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
}